<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Lista</title>
</head>
<body>
    <table>
        <tr *ngFor="let usuario of lista">
            <td>{{usuario.id}}</td>
            <td>{{usuario.nombre}}</td>
            <td>{{usuario.ciudad}}</td>
            <td>{{usuario.correo}}</td>
            <td>{{usuario.password}}</td>
            <td>{{usuario.segundapassword}}</td>
            
            <td><input type="button" value="BORRAR" (click)="borrar(usuario)"></td>
            
        </tr>
    </table>
    <button style="margin-left: 100px;" class="btn btn-primary" >Enviar</button>
</body>
</html>

